@import url(game-container/game-container.css);
@import url(startscreen/startscreen.css);

html,
body {
    height: 100%;
    margin: 0;
    color: #60ead1;
}

body {
    background: rgb(30, 3, 46);
    background: linear-gradient(0deg, rgba(30, 3, 46, 1) 0%, rgba(108, 18, 104, 1) 66%, rgba(152, 20, 89, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 2px solid #000000;
}