@import url(game-container/game-container.css);
@import url(startscreen/startscreen.css);

html,
body {
    height: 100%;
    margin: 0;
    color: #60ead1;
}

/*Задаём глобальные параметры*/
body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Делаем границу вокруг игрового поля*/
canvas {
    border: 1px solid darkcyan;
}
